<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />
    <meta name="author" content="Theme Industry" />
    <!-- description -->
    <meta name="description" content="boltex" />
    <!-- keywords -->
    <meta name="keywords" content="" />
    <title>User</title>
    <link rel="stylesheet" href="/static/user/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/user/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/user/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/user/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <!-- <link rel="stylesheet" href="css/bootstrap3.min.css"> -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/magnific-popup.css" />
    <link rel="stylesheet" href="/static/css/slick.css" />
    <link rel="stylesheet" href="/static/css/cubeportfolio.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
  </head>
  <body class="main-layout">
    <nav
      class="navbar navbar-expand-lg fixed-top activate-menu navbar-light bg-light"
    >
      <a class="navbar-brand" href="#">User</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link" href="/user/">Home</a>
          </li>
          <li>
            <a class="nav-link" href="/view_assign/">View Assigned Projects</a>
          </li>
          <li>
            <a class="nav-link" href="/Add_report/">Add Report</a>
          </li>
          <li>
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/user/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      
      <!-- header -->
      
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" class="active"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <h1>EMPLOYEE<span class="midil_img">TIMESHEET</span></h1><br><br><br><br><br>
                           <figure><img src="/static/user/images/ima.png" alt="#"/></figure><br><br><br><br>
                           <br><br><br><br><br><br>
                           <p>Employees Can View Assigned<br> Projects by Admin by <br> Clicking at This </p>
                           <a class="read_more" href="/view_assign/">View Projects</a>
                        </div>
                     </div>
                  </div>
               </div>
               
      </section>
      <!-- end banner -->
      <!-- about section -->
      <div id="about" class="about afbecros">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Reports</h2>
                     <figure><img src="/static/user/images/about_img.png" alt="#"/></figure>
                     <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it It is a long established fact that a reader will be distracted by the readable content of a page when lookingusing Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
                     <a class="read_more" href="/Add_report/">Add Reports</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- testimonial section -->
      <div id="testimonial" class="testimonial afbecros">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About US</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Employee Working System</h3>
                                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Our Employee Working System is designed for seamless workflow management. From scheduling shifts to tracking performance metrics, it offers a comprehensive solution. With intuitive interfaces and customizable features, it enhances productivity and transparency. Empower your team with efficient tools for collaboration, task delegation, and performance evaluation.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Admin Panel</h3>
                                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Our admin panel offers streamlined management of your company's operations. With intuitive controls and comprehensive features, it simplifies tasks such as user management, content editing, and data analysis. Enjoy real-time insights and effortless customization to optimize efficiency and decision-making. Experience seamless administration with our user-friendly platform.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Company</h3>
                                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Our company is dedicated to delivering exceptional products/services tailored to meet your needs. With a focus on innovation and customer satisfaction, we strive to exceed expectations. Our team of experts is committed to excellence, ensuring reliability, efficiency, and success in every endeavor. Partner with us for unparalleled results.So We Make everything simple.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end testimonial section -->
      
      <!--  footer -->
      <div class="footer">
        <div class="container">
           <div class="row">
              <div class="col-md-8 offset-md-2">
                 <div class="fid_box">
                    <ul class="location_icon"><br><br><br><br><br>
                       <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
                       <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br>+01 1234567890
                       </li>
                       <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> demo@gmail.com</li>
                    </ul>
                 </div>
              </div><br><br><br>
              <div class="col-md-12">
                 <div class="dolor">
                    <p>Feel free to contact us anytime! We're here to assist you. Reach out via phone, email, or our online chat for prompt support.</p>
                 </div>
              </div>
           </div>
        </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
     
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/user/js/jquery.min.js"></script>
      <script src="/static/user/js/popper.min.js"></script>
      <script src="/static/user/js/bootstrap.bundle.min.js"></script>
      <script src="/static/user/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/user/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/user/js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
   </body>
    <!-- <div id="showcase">
      <div class="container showcase">
        <div class="full-width text-center showcase-caption mt-30">
          <div class="showcase-button"></div>
        </div>
      </div>
    </div> -->
    <!-- <h1>welcome emp</h1>
    <a href="/view_assign/">View Assigned Projects</a>
    <a href="/Add_report/">Add Report</a>
    <a href="/logout/">Logout</a> -->

</html>
